<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team07.online_shopping_mall.mapper.CartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.team07.online_shopping_mall.model.domain.Cart">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="product_id" property="productId" />
        <result column="quantity" property="quantity" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <resultMap id="CartInfoMap" type="com.team07.online_shopping_mall.model.dto.CartInfoDTO">
        <id column="cartId" property="cartId" />
        <result column="userId" property="userId" />
        <result column="productId" property="productId" />
        <result column="shopId" property="shopId" />
        <result column="shopName" property="shopName" />
        <result column="productName" property="productName" />
        <result column="productImg" property="productImg" />
        <result column="price" property="price" />
        <result column="quantity" property="quantity" />
    </resultMap>
    <select id="searchCart" resultType="com.team07.online_shopping_mall.model.dto.CartInfoDTO">
        select c.id as cartId, c.user_id as userId, c.product_id as productId,
               p.shop_id as shopId, s.`name` as shopName,p.`name` as productName,
               p.image as productImg, p.price, c.quantity, c.selected
        from mall_cart c left join mall_product p on c.product_id = p.id
                         left join mall_shop s on p.shop_id = s.id
        where c.user_id = #{userId}
    </select>

</mapper>
