<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team07.online_shopping_mall.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.team07.online_shopping_mall.model.domain.Order">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="shop_id" property="shopId" />
        <result column="total_price" property="totalPrice" />
        <result column="receiver_name" property="receiverName" />
        <result column="receiver_mobile" property="receiverMobile" />
        <result column="receiver_address" property="receiverAddress" />
        <result column="order_status" property="orderStatus" />
        <result column="postage" property="postage" />
        <result column="payment_type" property="paymentType" />
        <result column="delivery_time" property="deliveryTime" />
        <result column="pay_time" property="payTime" />
        <result column="end_time" property="endTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <select id="searchAllByUserId" resultType="com.team07.online_shopping_mall.model.dto.OrderItemDTO">
        select oi.id as orderItemId, oi.product_id as productId, oi.order_id as orderId,
               o.user_id as userId, s.id as shopId, oi.product_name as productName, oi.product_img as productImg,
               oi.unit_price as unitPrice, oi.quantity, oi.total_price as itemTotalPrice,
               s.`name` as shopName, o.postage as postage, o.total_price as orderTotalPrice,
               o.receiver_name as receiverName, o.receiver_mobile as receiverMobile
                , o.receiver_address as receiverAddress, o.order_status as orderStatus
        from mall_order_item oi left join mall_order o on oi.order_id = o.id
                                left join mall_product p on oi.product_id = p.id
                                left join mall_shop s on p.shop_id = s.id
        where o.user_id = #{userId}
    </select>
    <select id="searchUserOrderByStatus" resultType="com.team07.online_shopping_mall.model.dto.OrderItemDTO">
        select oi.id as orderItemId, oi.product_id as productId, oi.order_id as orderId,
               o.user_id as userId, s.id as shopId, oi.product_name as productName, oi.product_img as productImg,
               oi.unit_price as unitPrice, oi.quantity, oi.total_price as itemTotalPrice,
               s.`name` as shopName, o.postage as postage, o.total_price as orderTotalPrice,
               o.receiver_name as receiverName, o.receiver_mobile as receiverMobile
                , o.receiver_address as receiverAddress, o.order_status as orderStatus
        from mall_order_item oi left join mall_order o on oi.order_id = o.id
                                left join mall_product p on oi.product_id = p.id
                                left join mall_shop s on p.shop_id = s.id
        where o.user_id = #{userId} and o.order_status = #{status}
    </select>
    <select id="searchShopAllOrder" resultType="com.team07.online_shopping_mall.model.dto.OrderItemDTO">
        select oi.id as orderItemId, oi.product_id as productId, oi.order_id as orderId,
               o.user_id as userId, s.id as shopId, oi.product_name as productName, oi.product_img as productImg,
               oi.unit_price as unitPrice, oi.quantity, oi.total_price as itemTotalPrice,
               s.`name` as shopName, o.postage as postage, o.total_price as orderTotalPrice,
               o.receiver_name as receiverName, o.receiver_mobile as receiverMobile
                , o.receiver_address as receiverAddress, o.order_status as orderStatus
        from mall_order_item oi left join mall_order o on oi.order_id = o.id
                                left join mall_product p on oi.product_id = p.id
                                left join mall_shop s on p.shop_id = s.id
        where o.shop_id = #{shopId}
    </select>
    <select id="searchShopOrderByStatus" resultType="com.team07.online_shopping_mall.model.dto.OrderItemDTO">
        select oi.id as orderItemId, oi.product_id as productId, oi.order_id as orderId,
               o.user_id as userId, s.id as shopId, oi.product_name as productName, oi.product_img as productImg,
               oi.unit_price as unitPrice, oi.quantity, oi.total_price as itemTotalPrice,
               s.`name` as shopName, o.postage as postage, o.total_price as orderTotalPrice,
               o.receiver_name as receiverName, o.receiver_mobile as receiverMobile
                , o.receiver_address as receiverAddress, o.order_status as orderStatus
        from mall_order_item oi left join mall_order o on oi.order_id = o.id
                                left join mall_product p on oi.product_id = p.id
                                left join mall_shop s on p.shop_id = s.id
        where o.shop_id = #{shopId} and o.order_status = #{status}
    </select>

</mapper>
